body{
    padding: 0;
    margin: 0;    
    width:100vw;
    height: 100vh; 
}

.panel{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.timer-container {
    margin-left: 75%;
    height: 1.8em;
    width: 2.5em;
    background-color: green;
    opacity: .9;
    font-size: 2em;
    text-align: center;
    padding-top: .5em;
    color: snow;
}   

.question-container{
    margin: 10px;
    padding: 5px;
    width: 80vw;
    height: 15vh;
    background-color: #bfcacbef;
    font-size: 2.1em;
    text-align: center;
    border-radius: 20px;
}